<h1>Edit category</h1>

<form id="edit-category" name="category">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update category" />
  </div>

</form>

<a href="#/index" data-role="button">Back</a>