	<div data-role="header">
		<a href="#start" data-icon="back">Back</a>
        <h1>New Category</h1>
  	</div>
  	<div data-role="content">
		
		<form id="new-category" name="category">
		  <div class="field">
		    <input type="hidden" name="id" id="id" value="<%= id %>" >
		  </div>
		
		
		  <div class="field">
		    <label for="title"> Title:</label>
		    <input type="text" name="title" id="title" value="<%= title %>" required>
		  </div>
		
		  <div class="actions">
		    <input type="submit" value="Create Category" />
		  </div>
		
		</form>
				
	</div>