<h1>New category</h1>

<form id="new-category" name="category">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Category" />
  </div>

</form>

<a href="#/index">Back</a>