<div id="BBCont" data-role="page">
</div>

<script type="text/javascript">
  $(function() {
    window.router = new Tasking.Routers.AppRouter({
    	tasklists: <%= @tasklists.to_json.html_safe -%>,
    	tasks: <%= @tasks.to_json.html_safe -%>,
    	users: <%= @users.to_json(:methods => :friends).html_safe -%>});
    Backbone.history.start();
  });
</script>

