<div id="statuses"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Tasking.Routers.StatusesRouter({statuses: <%= @statuses.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

