<div id="tasks"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Tasking.Routers.TasksRouter({tasks: <%= @tasks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
