<p>
  <b>Title:</b>
  <%= title %>
</p>


<a href="#/index" data-icon="back" data-role="button">Back</a>
<a href="#/<%= id %>/edit" data-icon="gear" data-role="button">Edit</a>
<a href="#/<%= id %>/delete" data-icon="delete" data-role="button">Delete</a>