
<div id="users"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Tasking.Routers.AppRouter({users: <%= @users.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>