	<div data-role="header">
		<a href="#start" data-icon="home">Home</a>
        <h1>Task History</h1>
  	</div>
  	<div data-role="content">
		<div id="history-cont" data-role="collapsible-set"></div>
	</div>