	<div data-role="header">
		<a href="#start" data-icon="back">Start</a>
        <h1>Get Tasks</h1>
  	</div>
  	<div data-role="content">
		<div data-role="collapsible-set">
			<div data-role="collapsible" data-collapsed="false">
				<h3>Unassigned Tasks</h3>
				<ul id="UT" data-role="listview"></ul>
			</div>
		</div>
	</div>