	<div data-role="header">
		<a href="#start" data-icon="home">Home</a>
        <h1>Get Tasks</h1>
		<a href="#tasks/new" data-icon="plus">New Task</a>
  	</div>
  	<div data-role="content">
		<ul data-role="listview" data-inset="true" class="ui-listview">	  
		</ul>
	</div>