<a "class="ui-li">
	<div class="ui-block-a TaskA"><%= title %> &nbsp</div>
	<div class="ui-block-b TaskB"><%= pointvalue %> pts. &nbsp</div>
	<div class="ui-block-c TaskC"><%= due_date_f %> &nbsp</div>
</a>