	<div data-role="header">
		<a href="#tasks" data-icon="back">Back</a>
        <h1>New Task</h1>
  	</div>
  	<div data-role="content">
		
		<form id="new-task" name="task">
		  <div class="field">
		    <input type="hidden" name="id" id="id" value="<%= id %>" >
		  </div>
		
		  <div class="field">
		    <label for="title"></label>
		    <input type="text" name="title" id="title" value="<%= title %>" placeholder="Title">
		  </div>
		  
		  <div class="field">
		    <label for="description"></label>
		    <input type="text" name="description" id="description" value="<%= description %>" placeholder="Description">
		  </div>
		  
		  <label for="select-choice-0" class="select"></label>
			<select name="select-choice-0" id="select-choice-0">
   				<option value="standard">Choose Category...</option>
  				<option value="id"><%= name %></option>
			</select>
	  
		  <label for="select-choice-0" class="select"></label>
			<select name="select-choice-0" id="select-tasklists">
			</select>
	
		  <div class="actions">
		    <input type="submit" value="Create Task" />
		  </div>
		
		</form>
				
	</div>