	<div data-role="header">
		<a href="#tasks" data-icon="back">Back</a>
        <h1>New Task</h1>
  	</div>
  	<div data-role="content">
		
		<form id="new-task" name="task">
		  <div class="field">
		    <input type="hidden" name="id" id="id" value="<%= id %>" >
		  </div>
		
		  <div class="field">
		    <input type="text" name="title" id="title" value="<%= title %>" placeholder="Title">
		  </div>
		  
		  <div class="field">
		    <input type="text" name="description" id="description" value="<%= description %>" placeholder="Description">
		  </div>
		  
			<select name="category_id" id="select-category">
   				<option value="standard">Choose Category...</option>
			</select>
	  
			<select name="tasklist_id" id="select-tasklist">
				<option value="standard">Choose Tasklist...</option>
				$<%= tasklist_id %> = ("#tasklist_id option:selected").value();
			</select>
			
	
		  <div class="actions">
		    <input type="submit" value="Create Task" />
		  </div>
		
		</form>
				
	</div>