<h1>Listing users</h1>

<table id="users-table">
  <tr>
    <th>Provider</th>
    <th>Uid</th>
    <th>Name</th>
    <th>Outh token</th>
    <th>Outh expires at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New User</a>