	<div data-role="header">
		<a href="#start" data-icon="back">Start</a>
        <h1>Ranking</h1>
  	</div>
  	<div data-role="content">
		<div data-role="collapsible-set">
			<div data-role="collapsible" data-collapsed="false">
				<h3>Ranking by Points</h3>
				<ol id="RBP" data-role="listview"></ol>
			</div>
			<div data-role="collapsible">
				<h3>Ranking by Crowns</h3>
			</div>
			
			<div data-role="collapsible">
				<h3>Ranking by Lists</h3>
			</div>
		</div>
	</div>