.tasklistTaskA {
  
}

.tasklistTaskB {
  text-align:center;
  font-weight:normal;
}
.tasklistTaskC {
  text-align:right;
  font-weight:normal;
}

.tasklist_done {
}

.tasklist_done p {
  width:100%;
  text-align:center;
}

