<a href="#tasks/<%= id%>" class="ui-grid-b">
	<div class="ui-block-a tasklistTaskA"><%= title %></div>
	<div class="ui-block-b tasklistTaskB"><%= pointvalue %> pts.</div>
	<div class="ui-block-c tasklistTaskC"><%= due_date_f %></div>
</a>