<!DOCTYPE html>
<html class="ui-mobile-rendering" lang="en">
<head>
  <title>Tasking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="assets/tasking.min.css" />
  <link rel="stylesheet" href="//code.jquery.com/mobile/1.2.1/jquery.mobile.structure-1.2.1.min.css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
<!--  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script> -->
  
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "application"%>
  <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />-->
  
	
	<%= javascript_include_tag "application"%>
	<script src="//code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
  
</head>
<body>
<%= yield %>
</body>
</html>
